.header__container {
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 99;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 576px) {
  .header {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
}

.header__text {
  font-size: 1.5rem;
  font-weight: 300;
}

.header__branding {
  margin: 0rem;
}

.header__branding__logo {
  width: 73px;
  height: 20px;
  margin-right: 0.25rem;
}

.header__branding__text {
  vertical-align: middle;
}

.header__location {
  display: flex;
  align-items: baseline;
  column-gap: 0.5rem;

  background: none;
  border: none;
  padding: 0rem;
}

.header__location__arrow {
  width: 1rem;
}

.header__location__input {
  text-align: right;
  border: none;
}

.header__location__input:focus {
  outline: none;
}

.header__branding__logo path,
.header__location__arrow path {
  fill: var(--black);
}
