.header__container {
  position: sticky;
  top: 0;
  background: var(--background);
  z-index: 99;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;

  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

@media screen and (max-width: 576px) {
  .header {
    padding-top: 0rem;
    padding-bottom: 0.25rem;
    padding-right: 0rem;
  }
}

.header__text {
  font-size: 1.5rem;
  font-weight: 300;
}

.header__branding {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  flex-wrap: wrap;
  margin: 0rem;
  min-height: 2rem;

  background-color: var(--background);
  z-index: 1;
}

.header__branding > svg {
  width: 73px;
  height: 20px;
}

.header__branding__text {
  display: block;
  margin-top: 2px;
  height: 1.5rem;
}

.header__configure {
  flex-grow: 1;
  position: relative;
  height: 2.5rem;
  max-width: 39.5rem;
}

.header__configure__button {
  padding: 0.75rem 0.5rem;
}

.header__configure__button > svg {
  display: block;
  height: 1rem;
  width: 1rem;
}

.header__configure__button-settings {
  position: absolute;
  inset: 0 0 0 auto;
  opacity: 1;
  visibility: visible;

  transition-property: opacity, visibility;
  transition-duration: calc(var(--transition-duration) / 2);
  transition-delay: calc(var(--transition-duration) / 2);
}

.header__configure__button-settings--hidden {
  opacity: 0;
  visibility: hidden;

  transition-delay: 0ms;
}

.header__location {
  display: flex;
  padding-left: 2rem;
  transform: translateX(-2rem);
  transition-property: transform;
}

.header__location--end {
  padding-left: 0rem;
  transform: translateX(0);
}

.header__location__input {
  background-color: var(--background);
  color: var(--foreground);
  padding: 0.5rem 0.25rem 0.5rem 0rem;
  width: 100%;
  text-align: right;
  border: none;
}

.header__location__input:focus {
  outline: none;
}

.header__location__button-arrow {
  flex-shrink: 0;
}

@media screen and (max-width: 460px) {
  .header__branding {
    min-height: 4rem;

    flex-basis: 0%;
    flex-shrink: 1;
  }
}
