.header__container {
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 99;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;

  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

@media screen and (max-width: 576px) {
  .header {
    padding-top: 0rem;
    padding-bottom: 0.25rem;
    padding-right: 0rem;
  }
}

.header__text {
  font-size: 1.5rem;
  font-weight: 300;
}

.header__branding {
  flex-shrink: 0;
  margin: 0rem;
  padding: 0rem 0rem;
}

.header__branding svg {
  width: 73px;
  height: 20px;
  margin-right: 0.25rem;
}

.header__branding__text {
  vertical-align: middle;
}

.header__location {
  display: flex;
  flex-grow: 1;
  max-width: 37.5rem;

  background: none;
  cursor: pointer;
  border: none;
  padding: 0rem;
}

.header__location__arrow {
  padding: 0.75rem 0.5rem;
}

.header__location__arrow svg {
  display: block;
  height: 1rem;
  width: 1rem;
}

.header__location__input {
  padding: 0.5rem 0.25rem 0.5rem 0rem;
  width: 100%;
  text-align: right;
  border: none;
}

.header__location__input:focus {
  outline: none;
}

@media screen and (max-width: 460px) {
  .header__branding {
    flex-basis: 0%;
    flex-shrink: 1;
  }
}
