.search-overlay {
  position: fixed;
  top: 4rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;

  z-index: 1;
  transition-property: opacity, visibility;
}

@media screen and (max-width: 576px) {
  .search-overlay {
    top: 2.75rem;
  }
}

@media screen and (max-width: 460px) {
  .search-overlay {
    top: 4.25rem;
  }
}

.search-overlay--hidden {
  visibility: hidden;
  opacity: 0;
}

.search-overlay--visible {
  visibility: visible;
  opacity: 1;
}

.search-overlay__inner {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  background: linear-gradient(235deg, var(--white), rgba(255, 255, 255, 0.97));
}

@media (prefers-color-scheme: dark) {
  .search-overlay__inner {
    background: linear-gradient(235deg, var(--black), rgba(0, 0, 0, 0.97));
  }
}

.search-overlay__results-list {
  list-style-type: none;
  text-align: right;
  margin: 0rem;
  padding: 0rem;
}

.search-overlay__result {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;

  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0rem 0rem 0rem auto;
}

.search-overlay__result--non-recent-current-location {
  padding-top: 1rem;
}

.search-overlay__result span {
  padding-right: 0.75rem;
}

.search-overlay__result svg {
  display: inline;
  height: 1rem;
  width: 1rem;
}

.search-overlay__result__icon--hidden {
  visibility: hidden;
}

.search-overlay__result--highlighted {
  font-weight: 700;
}

.search-overlay__result:nth-of-type(1) {
  padding-top: 1rem;
}

@media screen and (max-width: 576px) {
  .search-overlay__result {
    padding-right: 0.5rem;
  }
}

@media screen and (max-width: 460px) {
  .search-overlay__result {
    width: 100%;
  }
}
