.search__overlay {
  position: fixed;
  top: 4rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;

  z-index: 1;
}

@media screen and (max-width: 576px) {
  .search__overlay {
    top: 3.5rem;
  }
}

@media screen and (max-width: 460px) {
  .search__overlay {
    top: 5rem;
  }
}

.search__overlay--hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.search__overlay--visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.search__overlay__inner {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  background: linear-gradient(235deg, rgba(255, 255, 255), rgba(255, 255, 255, 0.97));
}

.search__overlay__results-list {
  list-style-type: none;
  text-align: right;
  margin: 0rem;
  padding: 0rem;
}

.search__overlay__result {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;

  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0rem 0rem 0rem auto;
}

.search__overlay__result--non-recent-current-location {
  padding-top: 1rem;
}

.search__overlay__result span {
  padding-right: 0.75rem;
}

.search__overlay__result__icon {
  display: inline;
  height: 1rem;
  width: 1rem;
}

.search__overlay__result__icon--hidden {
  visibility: hidden;
}

.search__overlay__result__icon path {
  fill: var(--black);
}

.search__overlay__result--highlighted {
  font-weight: 700;
}

.search__overlay__result:nth-of-type(1) {
  padding-top: 1rem;
}

@media screen and (max-width: 576px) {
  .search__overlay__result {
    padding-right: 0.5rem;
  }
}

@media screen and (max-width: 460px) {
  .search__overlay__result {
    width: 100%;
  }
}
