.icon {
  fill: none;
}

.icon--hidden {
  visibility: hidden;
}

.icon path:not(.icon__path--stroke),
.icon rect:not(.icon__path--stroke) {
  fill: var(--foreground);
}

.icon .icon__path--stroke {
  stroke: var(--foreground);
}

.icon--custom-fill path:not(.icon__path--stroke),
.icon--custom-fill rect:not(.icon__path--stroke) {
  fill: var(--icon-fill-color);
}

.icon--custom-fill .icon__path--stroke {
  stroke: var(--icon-fill-color);
}
