.icon {
  fill: none;
}

.icon--hidden {
  visibility: hidden;
}

.icon path:not(.icon__path--stroke),
.icon rect:not(.icon__path--stroke) {
  fill: var(--black);
}

.icon .icon__path--stroke {
  stroke: var(--black);
}

.icon--inverse-fill path:not(.icon__path--stroke),
.icon--inverse-fill rect:not(.icon__path--stroke) {
  fill: var(--white);
}

.icon--inverse-fill .icon__path--stroke {
  stroke: var(--white);
}
