.card {
  background-color: var(--white);
  margin: 1rem 0rem;
  border-radius: 0.25rem;
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}

.card-contents {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 0.75rem;
}

.card-contents__overview {
  margin: 1rem 2rem 1rem 0.25rem;
}

@media screen and (max-width: 656px) {
  .card-contents__overview--forecast {
    width: 100%;
    margin-bottom: 0rem;
  }
}

.card-contents__measurements {
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;

  max-width: 37.5rem;
}

@media screen and (min-width: 360px) {
  .card-contents__measurements {
    min-width: 20rem;
  }
}

.card-contents__forecasts {
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  flex-direction: column;

  max-width: 42rem;
}
