.summary-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.summary-forecast__overview {
  margin: 0rem 1rem 0rem 0.25rem;
  min-width: 12rem;
}

@media screen and (max-width: 880px) {
  .summary-forecast__overview {
    width: 100%;
  }
}

.summary-forecast__overview__label {
  margin: 1rem 0rem 0.5rem;
}

.summary-forecast__measurements {
  display: flex;
  flex: 1 1;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 23.75rem;
}
