.current-temp__temp {
  margin: 0rem;
  font-size: 7rem;
  font-weight: 400;
}

.current-temp__temp__decimal {
  font-size: 2rem;
}

.current-temp__temp__degree-symbol--fractional {
  margin-left: -0.5rem;
}

.current-temp__feels-like {
  margin: -0.25rem 0rem 1rem;
  font-size: 1.25rem;
}
