.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  gap: 0.5rem;
  padding: 1rem;

  width: 100%;
  min-height: 3.5rem;

  --corner-radius: 0.25rem;
  border-top-left-radius: var(--corner-radius);
  border-top-right-radius: var(--corner-radius);

  color: var(--foreground-color-inverse);
  background-color: var(--card-background-color);
}

.card-header--rounded-bottom-corners {
  border-bottom-left-radius: var(--corner-radius);
  border-bottom-right-radius: var(--corner-radius);
}

.card-header--expanded {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

/* Offset the outline when focused for improved visibility */
.card-header:focus {
  outline-offset: 0.25rem;
}

.card-header svg {
  display: block;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
}

.card-header__pre-icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.card-header__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;

  gap: 0.5rem;

  text-align: left;
}

.card-header__contents > * {
  margin: 0rem;
}

.card-header__contents *::selection {
  background-color: var(--foreground-color-inverse);
  color: var(--card-background-color);
}

.card-header__contents__title {
  text-transform: uppercase;
  margin-bottom: -0.25rem;
}

.card-header__contents__title span {
  font-size: 1rem;
  font-weight: 400;
}

.card-header__contents__label {
  font-weight: 300;
}
