.forecast__hourly-forecasts {
  display: grid;
  grid-template-columns: repeat(2, min-content) minmax(5.75rem, auto) repeat(3, auto);
  row-gap: 0.5rem;
  margin: 0.5rem 0rem 1rem 0.25rem;
}

.forecast__hourly-forecasts > svg {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0rem auto 0.5rem;
}

.forecast__hourly-forecasts p {
  margin-left: 0.25rem;
}
