.condition {
  display: flex;
  align-items: center;

  margin: 0rem;
}

.condition__icon {
  position: relative;
  margin-right: 0.5rem;

  height: 2rem;
  width: 2rem;
}

.condition__icon--small {
  height: 1.5rem;
  width: 1.5rem;
}

.condition__icon__image {
  object-fit: contain;
}

.condition__label {
  margin: 0.25rem 0rem 0rem;
  font-size: 2rem;
}

.condition__label--small {
  font-size: 1.5rem;
}
