.condition {
  display: flex;
  align-items: center;
}

.condition--large {
  margin: 0rem;
}

.condition__icon {
  position: relative;
  margin-right: 0.5rem;

  height: 2rem;
  width: 2rem;
}

.condition__label {
  margin: 0.25rem 0rem 0rem;
  font-size: 2rem;
}
