.condition {
  display: flex;
  align-items: center;

  margin: 0rem;

  --size: 2rem;
}

.condition--small {
  --size: 1.5rem;
}
.condition--x-small {
  --size: 1rem;
}

.condition__icon {
  position: relative;
  margin-right: 0.5rem;

  height: var(--size);
  width: var(--size);
}

.condition__icon--small {
  height: 1.5rem;
  width: 1.5rem;
}

.condition__icon__image {
  object-fit: contain;
}

.condition__label {
  margin: 0.25rem 0rem 0rem;
  font-size: var(--size);
}
