.forecast-temps__temps {
  min-width: 15rem;
  font-size: 6rem;
  font-weight: 400;
  white-space: nowrap;

  margin: 0rem;
}

.forecast-temps__temps__high {
  display: inline-block;
  vertical-align: top;
}

.forecast-temps__temps__low {
  display: inline-block;
  vertical-align: bottom;
  font-size: 3rem;

  margin: 3.5rem 0rem 0rem -1.5rem;
}
