.alert-card-content {
  padding: 1rem;
}

.alert-card-content > :first-child {
  margin-top: 0rem;
}

.alert-card-content > :last-child {
  margin-bottom: 0rem;
}

.alert-card-content__description-heading {
  text-transform: uppercase;
  margin: 0rem 0rem 0.5rem;
}

.alert-card-content__description-body {
  margin: 0rem 0rem 1.5rem 0.5rem;
}

.alert-card-content__instructions {
  font-weight: 700;
}
