.notifications-card > header {
  padding: 0.5rem;
}

.notifications-card__contents {
  padding-left: 0.5rem;
}

.notifications-card-header__contents__button {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: var(--corner-radius);
}

.notifications-card-header__contents__button:focus {
  background: rgba(255, 255, 255, 0.2);
  outline: none;
}

.notifications-card-header__contents__button:disabled {
  opacity: 50%;
}

.notifications-card-content {
  padding: 1rem;
}

.notifications-card-content > :first-child {
  margin-top: 0rem;
}

.status-grid {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.notifications-card-content p,
.notifications-card-content h4 {
  margin: 0;
}

.notifications-card-content > textarea {
  margin: 1rem 0rem 0.5rem;
  width: 100%;
  height: 6rem;
  resize: none;
}

.notifications-card-content > button {
  margin: 1rem 0.5rem 1rem 0rem;
  padding: 0.5rem 0.75rem;
  font-weight: 700;
  background: #f2f2f2;
}

.notifications-card-content > button:last-of-type {
  margin-right: 0rem;
}

.notifications-card-content > button:disabled {
  color: #c4c4c4;
}
