.inner {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.form-container {
  max-width: 492px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  height: 100%;

  opacity: 0;
  transform: translateY(0.5rem);
  transition-property: opacity, transform;
}

.form--end {
  opacity: 1;
  transform: translateY(0);
}

.form > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 576px) {
  .form-container {
    max-width: none;
  }

  .form > * {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.section__header {
  padding-bottom: 1rem;
  font-size: 2rem;
}

.section__header > svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.section__header,
.section__sub__header {
  font-weight: 500;
}

.section__header__description {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
}

.section__radio-group {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.section__sub {
  display: grid;
  row-gap: 0.5rem;
  column-gap: 1rem;
}

.section__sub--units {
  grid-template-columns: 1fr repeat(2, auto);
}

.radio-label {
  display: flex;
  align-items: center;
}

.radio-label > span {
  padding-left: 0.5rem;
}

.radio-label > input:enabled ~ *,
.notifications-row__label > input:enabled ~ * {
  cursor: pointer;
}

.radio-label > span,
.notifications-row__label > span {
  margin-top: 2px;
}

.section__notifications-container {
  overflow-y: auto;
}

.section__notifications {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding-bottom: 1rem;
}

.notifications-row__label {
  display: flex;
  align-items: center;
}

.notifications-row__label > span {
  padding-left: 0.5rem;
}
