:root {
  --white: #fff;
  --black: #000;
  --platinum: #f2f2f2;
  --onyx: #121212;
  --indigo: #5115f7;

  --alert-extreme: #480082;
  --alert-severe: #a00a00;
  --alert-moderate: #af5f00;
  --alert-minor: #006161;
  --alert-unknown: var(--alert-minor);

  --background: var(--white);
  --foreground: var(--black);
  --foreground-light: var(--onyx);

  --transition-duration: 300ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--white);
    --foreground-light: var(--platinum);
  }
}

@media (prefers-reduced-motion) {
  :root {
    --transition-duration: 0ms;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  padding: 0;
  margin: 0;
}

.body--disable-scroll {
  overflow: hidden;
  touch-action: none;
}

.animated {
  transition-duration: var(--transition-duration);
  transition-timing-function: ease;
}

button,
input {
  font-family: unset;
  margin: 0rem;
}

button:enabled,
input[type='radio']:enabled {
  cursor: pointer;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0rem;
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  display: block;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  min-inline-size: auto;
  border: none;
}

legend {
  display: block;
  padding-inline: 0;
  border: none;
}

* {
  box-sizing: border-box;
}
