:root {
  --white: #fff;
  --black: #000;
  --onyx: #121212;
  --indigo: #5115f7;
}

html,
body {
  background: var(--white);
  color: var(--onyx);
  padding: 0;
  margin: 0;
  font-family: 'Maison Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

button,
input {
  font-family: unset;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
