:root {
  --white: #fff;
  --black: #000;
  --onyx: #121212;
  --indigo: #5115f7;
}

html,
body {
  background: var(--white);
  color: var(--onyx);
  padding: 0;
  margin: 0;
}

.body--disable-scroll {
  overflow: hidden;
  touch-action: none;
}

button,
input {
  font-family: unset;
  margin: 0rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0rem;
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
