:root {
  --white: #fff;
  --black: #000;
  --platinum: #f2f2f2;
  --onyx: #121212;
  --indigo: #5115f7;

  --alert-extreme: #480082;
  --alert-severe: #a00a00;
  --alert-moderate: #af5f00;
  --alert-minor: #006161;
  --alert-unknown: var(--alert-minor);

  --transition-duration: 300ms;

  --light-background: var(--white);
  --light-foreground: var(--black);
  --light-foreground-light: var(--onyx);
  --light-card_background-color: var(--white);
  --light-card_box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  --light-condition__icon_filter: none;
  --light-overlay__inner_background: linear-gradient(235deg, var(--white) 50%, rgba(255, 255, 255, 0.97));

  --dark-background: var(--black);
  --dark-foreground: var(--white);
  --dark-foreground-light: var(--platinum);
  --dark-card_background-color: var(--onyx);
  --dark-card_box-shadow: inset 0.25rem 0.5rem 2rem rgba(255, 255, 255, 0.06);
  --dark-condition__icon_filter: invert(1);
  --dark-overlay__inner_background: linear-gradient(235deg, var(--black) 50%, rgba(0, 0, 0, 0.92));

  /* Use light theme vars by default */
  --background: var(--light-background);
  --foreground: var(--light-foreground);
  --foreground-light: var(--light-foreground-light);
  --card_background-color: var(--light-card_background-color);
  --card_box-shadow: var(--light-card_box-shadow);
  --condition__icon_filter: var(--light-condition__icon_filter);
  --overlay__inner_background: var(--light-overlay__inner_background);
}

/* Use dark theme vars when system theme is dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
    --foreground-light: var(--dark-foreground-light);

    --card_background-color: var(--dark-card_background-color);
    --card_box-shadow: var(--dark-card_box-shadow);
    --condition__icon_filter: var(--dark-condition__icon_filter);
    --overlay__inner_background: var(--dark-overlay__inner_background);
  }
}

/* Class override for light theme */
:root.light {
  --background: var(--light-background);
  --foreground: var(--light-foreground);
  --foreground-light: var(--light-foreground-light);

  --card_background-color: var(--light-card_background-color);
  --card_box-shadow: var(--light-card_box-shadow);
  --condition__icon_filter: var(--light-condition__icon_filter);
  --overlay__inner_background: var(--light-overlay__inner_background);
}

/* Class override for dark theme */
:root.dark {
  --background: var(--dark-background);
  --foreground: var(--dark-foreground);
  --foreground-light: var(--dark-foreground-light);

  --card_background-color: var(--dark-card_background-color);
  --card_box-shadow: var(--dark-card_box-shadow);
  --condition__icon_filter: var(--dark-condition__icon_filter);
  --overlay__inner_background: var(--dark-overlay__inner_background);
}

@media (prefers-reduced-motion) {
  :root {
    --transition-duration: 0ms;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  padding: 0;
  margin: 0;
}

.body--disable-scroll {
  overflow: hidden;
  touch-action: none;
}

.animated {
  transition-duration: var(--transition-duration);
  transition-timing-function: ease;
}

button,
input {
  font-family: unset;
  margin: 0rem;
}

button:enabled,
input[type='checkbox']:enabled,
input[type='radio']:enabled {
  cursor: pointer;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0rem;
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  display: block;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  min-inline-size: auto;
  border: none;
}

legend {
  display: block;
  padding-inline: 0;
  border: none;
}

* {
  box-sizing: border-box;
}
