:root {
  --white: #fff;
  --black: #000;
  --onyx: #121212;
  --indigo: #5115f7;

  --alert-extreme: #480082;
  --alert-severe: #a00a00;
  --alert-moderate: #af5f00;
  --alert-minor: #006161;
  --alert-unknown: var(--alert-minor);

  --foreground-color-inverse: var(--white);
}

html,
body {
  background: var(--white);
  color: var(--onyx);
  padding: 0;
  margin: 0;
}

.body--disable-scroll {
  overflow: hidden;
  touch-action: none;
}

button,
input {
  font-family: unset;
  margin: 0rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0rem;
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.animated {
  transition-duration: 300ms;
  transition-timing-function: ease;
}

@media (prefers-reduced-motion) {
  .animated {
    transition-duration: 0s;
  }
}

* {
  box-sizing: border-box;
}
