.container__content,
.container__content--no-padding {
  width: 100%;
  max-width: 1056px;
  margin: 0 auto;
}

.container__content {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 576px) {
  .container__content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
