.container {
  display: grid;
  grid-template-rows: auto 1fr auto;

  width: 100%;
  min-height: 100vh;

  margin: 0 auto;
}

.container__content {
  width: 100%;
  max-width: 1056px;

  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 576px) {
  .container__content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
